<h1>comments</h1>
<ul>
	<li *ngFor="let comment of comments; let i = index; ">
	<input *ngIf="comment.update" type="text" placeholder="quote" [(ngModel)]="updateText">
	<input *ngIf="comment.update" type="text" placeholder="author" [(ngModel)]="updateAuthor">
	{{comment.text}} <br> {{comment.author}}
	<button class="btn btn-default btn-sm" *ngIf="!comment.update" (click)="comment.update=true">Edit</button>
	<button class="btn btn-default btn-sm" *ngIf="comment.update" (click)="onUpdate(i)" (click)="comment.update=false">Save</button>
	<button class="btn btn-default btn-sm" (click)="onDelete(i)">Delete</button>
	</li>
</ul>

<div class="form">
	<input type= "text" btn-sm [(ngModel)]="newQuote.text"><br>
	<input type="text" [(ngModel)]="newQuote.author"><br>
	<button class="btn btn-default btn-lg"(click)="onSubmit(text,author)">SUBMIT</button>
</div>
